.devsy-Mention {
  color: blue;
}

.devsy-Hashtag {
  color: red;
}

.devsy-Monospace {
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 13px;
  display: inline-block;
  background: #eee;
  color: #0aa;
}
